#root {

  
  margin: 0 auto;
  @media (max-width: 684px){
    text-align: center;
  }
  font-size: 2.3rem;
  font-weight: 200;
  color: aliceblue;
  
  display: flex;
  flex-direction: column;
  
}













/* footer */

.footer {
  font-size: 2rem;
  color: #777777;

  margin-bottom: 2.5rem;
  margin-top: auto;

  
}

@media (max-width: 684px){
  .footer > p {
    text-align: center;
  }
}

html, body, #root {
  height: 100%;
}





/* animation for navbar--links */
a:visited{
  color: aliceblue;
}
a:hover {
  color: aliceblue;
  border-bottom: none !important;
}

.nav--links > li{
  display: inline-block;
  position: relative;
  
}

.nav--links > li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #c9c9c9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav--links > li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* same for home--links */

.hoveranimation{
  display: inline-block;
  position: relative;
  
}

.hoveranimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #c9c9c9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hoveranimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home--links > li{
  display: inline-block;
  position: relative;
  
}

.home--links > li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #c9c9c9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.home--links > li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}