



/* about page */
.general {
    @media (max-width: 684px){
        font-size: medium;
    }
}
.general > h4{
    text-align: left;
}
.general > p {
    display: block;
    text-align: justify;
    display: flex;
    
 }
.general > ul > li {
    text-align: left;

    
}
