
/* navbar --------------------------- */

.nav{
    text-align: center;
    @media (min-width: 684px){
      display: flex;
    }
    
    margin-bottom: 5rem;
  }
  
  .nav--branding:hover {
    /* color: #e6e6e6; */
    border-bottom: none;
    
    /* background: green; */
  }
  .nav--branding {
  
    margin-left: 1rem;
    margin-right: 1rem;
  
    letter-spacing: -1pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 4rem;
    
  
    .nav--branding--subtitle {
      display: block;
      margin: 0;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      font-weight: 200;
      color: gray;
  
      text-align: center;
    }
  }
  
  /* größere bildschirme */
  @media (min-width: 684px){
    .nav--links {
      display: flex;
      margin-left: auto;
      padding-right: 1rem;
      
    }
    .nav--links > li {
      margin-left: 1.5rem;
      /* padding-left: 1.5rem; */
      padding-top: 3rem;
      list-style: none;
    
      font-weight: 400;
      font-size: 3rem;
      
      flex-wrap: wrap;
    }
  }
  
  /* kleinere bildschirme */
  @media (max-width: 684px){
    
    .nav--links {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      
      margin-right: 4rem;
      
    }
    .nav--links > li {
      
      margin-left: 1.5rem;
    
      padding-top: 1.5rem;
      
      
      list-style: none;
    
      font-weight: 400;
      font-size: 3rem;
      
      flex-wrap: wrap;
    }
  }
  
  
  