

#root {
  max-width: 1280px;
  min-width: 512px;
  margin: 0 auto;
  /* text-align: center; */
  
  font-size: 2.3rem;
  font-weight: 200;
  color: aliceblue;
  
  display: flex;
  flex-direction: column;
 
}


/* navbar  */

.nav{
  text-align: center;
  display: flex;
  
  margin-bottom: 5rem;
}
.nav--branding {
  
  margin-left: 1rem;
  letter-spacing: -1pt;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 4rem;

  .nav--branding--subtitle {
    display: block;
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 200;
    color: gray;
  }
}
.nav--links {
  display: flex;
  margin-left: auto;
  padding-right: 1rem;
}
.nav--links > li {
  padding-left: 1.5rem;
  padding-top: 3rem;
  list-style: none;

  font-weight: 400;
  font-size: 3rem;
}

/* home */

.home {
  /* text-align: center;
  align-items: center; */
}

/* footer */

.footer {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  margin-top: auto;
}

html, body, #root {
  height: 100%;
}
