
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;400;600;700;800&display=swap');

body {
    /* max-width: 1024px; */
    min-width: 512px;
    margin: auto;
    background: #000;
    letter-spacing: 1pt;
    overflow-x: visible;
}